.card-cs__image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
}

.card-cs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  height: 328px;
  background-color: rgba(233, 233, 233, 1);
  border: 1px solid black;
  border-radius: 19px;
  justify-content: space-evenly;
  position: relative;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
  }
}

.card-cs:hover {
  cursor: pointer;
}

.card-cs__visible {
  visibility: visible;
}

.card-cs__header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-cs__name {
  display: flex;
  align-items: center;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.card-cs__like-button {
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: auto;
  background: transparent;
}

.card-cs__like-button-image {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1390px) {
  .card-cs {
    /* background-color: rgb(192, 233, 255); */
    width: 300px;
    height: 300px;
  }
  .card-cs__image {
    height: 220px;
    width: 220px;
  }
  .card-cs__like-button {
    width: 20px;
    height: 20px;
  }
  .card-cs__like-button-image {
    width: 20px;
    height: 20px;
  }
  .card-cs__name {
    height: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1307px) {
  .card-cs {
    /* background-color: rgb(192, 255, 194); */
    width: 270px;
    height: 270px;
  }
  .card-cs__image {
    height: 210px;
    width: 210px;
  }
  .card-cs__name {
    font-size: 16px;
  }
}

@media screen and (max-width: 1220px) {
  .card-cs {
    /* background-color: rgb(252, 255, 192); */
    width: 250px;
    height: 250px;
  }
  .card-cs__image {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 1157px) {
  .card-cs {
    /* background-color: rgb(255, 200, 192); */
    width: 220px;
    height: 220px;
  }
  .card-cs__image {
    height: 175px;
    width: 175px;
  }
  .card-cs__name {
    font-size: 12px;
  }
}

@media screen and (max-width: 1067px) {
  .card-cs {
    /* background-color: rgb(252, 255, 192); */
    width: 195px;
    height: 195px;
  }
  .card-cs__image {
    height: 150px;
    width: 150px;
  }
  .card-cs__name {
    height: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .card-cs {
    /* background-color: pink; */
    width: 260px;
    height: 260px;
  }
  .card-cs__image {
    height: 210px;
    width: 210px;
  }
  .card-cs__name {
    font-size: 14px;
  }
}

@media screen and (max-width: 915px) {
  .card-cs {
    /* background-color: purple; */
    width: 220px;
    height: 220px;
  }
  .card-cs__image {
    height: 170px;
    width: 170px;
  }
}

@media screen and (max-width: 795px) {
  .card-cs {
    /* background-color: orange; */
    width: 191px;
    height: 191px;
  }
  .card-cs__image {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 711px) {
  .card-cs {
    /* background-color: red; */
    width: 170px;
    height: 170px;
  }
  .card-cs__image {
    height: 125px;
    width: 125px;
  }
  .card-cs__name {
    font-size: 11px;
    height: 16px;
  }
  .card-cs__like-button {
    width: 16px;
    height: 16px;
  }
  .card-cs__like-button-image {
    width: 16px;
    height: 16px;
  }
  .card-cs__header {
    gap: 8px;
  }
}

@media screen and (max-width: 588px) {
  .card-cs {
    /* background-color: blueviolet; */
    width: 150px;
    height: 150px;
  }
  .card-cs__image {
    height: 110px;
    width: 110px;
  }
  .card-cs__name {
    font-size: 10px;
  }
}
