.modal-logout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
  visibility: hidden;
  font-family: "Space Grotesk";
}

.modal-logout__open {
  visibility: visible;
  opacity: 1;
}

.modal-logout__container {
  width: 440px;
  border-radius: 20px;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif, Arial;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  background: white;
  justify-content: space-between;
  display: flex;
  padding: 34px 36px 34px;
  position: absolute;
}

.modal-logout__title {
  font-family: "Space Grotesk";

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
  color: #1a1b22;
  /* font-family: "Roboto", Arial, sans-serif; */
  font-size: 24px;
  font-weight: 900;
}

.modal-logout__paragraph {
  font-family: "Space Grotesk";
  margin: 15px 0 25px;
  font-size: 20px;
  line-height: 28px;
}

.modal-logout__button {
  font-family: "Space Grotesk";

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: red;
  outline: 3px red solid;
  outline-offset: -3px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.modal-logout__button-svg {
  height: 40px;
}

.modal-logout__button-text {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal-logout__button .modal-logout__button-text {
  color: white;
  font-weight: 700;
  transition: 400ms;
}

.modal-logout__button .modal-logout__button-svg path {
  transition: 400ms;
}

.modal-logout__button:hover {
  background-color: transparent;
}

.modal-logout__button:hover .modal-logout__button-text {
  color: red;
}

.modal-logout__button:hover .modal-logout__button-svg path {
  fill: red;
}

.modal-logout__button-close {
  background: url(../../images/close-button-white.svg) center no-repeat;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .modal-logout__container {
    width: 350px;
    /* padding: 24px 26px 24px; */
  }
  .modal-logout__title {
    margin: 0 0 15px;
  }
  .modal-logout__paragraph {
    font-size: 14px;
    margin: 0 0 20px;
  }
  .modal-logout__button {
    height: 54px;
  }
  .modal-logout__button-close {
    top: -30px;
    right: -30px;
  }
}

@media screen and (max-width: 600px) {
  .modal-logout__container {
    width: 200px;
  }
  .modal-logout__paragraph {
    margin: 0 0 20px;
  }
}
