.modal__delete-container {
  width: 670px;
  height: 280px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.modal__message {
  margin: 0 0 15px;
}

.modal__message-line {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  line-height: 0.2;
}

.modal__confirm {
  z-index: 4;
}

.modal__yes {
  color: #ff4d00;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.modal__cancel {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  margin: 5px 0 0;
}

.modal__close {
  background: url(../../images/close-button.svg) center no-repeat;
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 20px;
}

.delete-modal__delete-buton {
  width: 220px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.delete-modal__delete-buton,
.delete-modal__delete-buton span {
  transition: 200ms;
}

.delete-modal__delete-buton .delete-modal__delete-text {
  transform: translateX(10px);
  color: white;
  font-weight: bold;
  font-family: "Space Grotesk";
  font-size: 18px;
}

.delete-modal__delete-buton .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(160px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal__delete-buton svg {
  width: 15px;
  fill: #eee;
}

.delete-modal__delete-buton:hover {
  background: #ff3636;
}

.delete-modal__delete-buton:hover .delete-modal__delete-text {
  color: transparent;
}

.delete-modal__delete-buton:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(15px);
}

.delete-modal__delete-buton:focus {
  outline: none;
}

.delete-modal__delete-buton:active .icon svg {
  transform: scale(0.8);
}

@media screen and (max-width: 770px) {
  .modal__delete-container {
    width: 550px;
    height: 240px;
  }
  .modal__message {
    margin: 20px 0 5px;
  }
  .modal__message-line {
    font-size: 22px;
  }
}

@media screen and (max-width: 635px) {
  .modal__delete-container {
    width: 450px;
    height: 210px;
  }
  .modal__message {
    margin: 30px 0 10px;
  }
  .modal__message-line {
    font-size: 18px;
  }
  .delete-modal__delete-buton {
    width: 180px;
    height: 40px;
  }
  .delete-modal__delete-buton .delete-modal__delete-text {
    font-size: 16px;
    transform: translateX(-10px);
  }
  .delete-modal__delete-buton .icon {
    transform: translateX(125px);
    height: 30px;
    width: 30px;
  }
  .delete-modal__delete-buton:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-4px);
  }
  .modal__cancel {
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  .modal__close {
    right: 15px;
    top: 15px;
  }
  .modal__delete-container {
    width: 350px;
    height: 180px;
  }
  .modal__message {
    margin: 30px 0 5px;
  }
  .modal__message-line {
    font-size: 15px;
  }
  .modal__cancel {
    font-size: 15px;
  }
}

@media screen and (max-width: 435px) {
  .modal__delete-container {
    width: 300px;
    height: 170px;
  }
  .modal__message {
    margin: 35px 0 10px;
  }
  .modal__message-line {
    font-size: 13px;
  }
  .modal__cancel {
    font-size: 13px;
  }
}
