.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}

.header__whole-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.header__date {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 20px;
  position: relative;
  left: 15px;
}

.header__logo {
  width: 89px;
  height: 40px;
  display: flex;
  align-content: flex-start;
  position: relative;
  align-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .header__whole-container {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .header__logo {
    left: 0px;
  }
}

@media screen and (max-width: 700px) {
}
