.navigation__container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #00a3ff;
  border-radius: 12px;
}

.navigation__user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navigation__default {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.navigation__button {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 20px;
  /* cursor: pointer; */
  /* border: none; */
  /* background-color: white; */
  /* border: 2px solid black; */
  padding: 11px 10px;
  /* border-radius: 10px; */

  transition: all 0.3s ease-in-out;
  /* background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5); */
  background-image: linear-gradient(135deg, #394867 0%, #212a3e 100%);
  box-shadow: 0 20px 30px -6px rgba(33, 42, 62, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 50px;
}

.navigation__button:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.navigation__button:active {
  opacity: 0.5;
}

.navigation__profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 2px solid black; */
  /* padding: 5px; */
  padding: 5px 5px 5px 10px;
  /* border-radius: 10px; */

  transition: all 0.3s ease-in-out;
  /* background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5); */
  background-image: linear-gradient(135deg, #394867 0%, #212a3e 100%);
  box-shadow: 0 20px 30px -6px rgba(33, 42, 62, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 50px;
}

.navigation__profile-section__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 2px solid black; */
  /* padding: 5px; */
  padding: 5px 5px 5px 10px;
  /* border-radius: 10px; */

  transition: all 0.3s ease-in-out;
  /* background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5); */
  /* background-image: linear-gradient(135deg, #394867 0%, #212a3e 100%);
  box-shadow: 0 20px 30px -6px rgba(33, 42, 62, 0.5); */
  border: #212a3e 3px solid;
  outline: none;
  cursor: default;
  /* border: none; */
  color: #212a3e;
  border-radius: 50px;
}

.navigation__profile-section:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.navigation__profile-section:active {
  opacity: 0.5;
}

.navigation__username {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 20px;
  border: none;
  margin: 0;
}

.navigation__link {
  cursor: pointer;
}
