.item-modal__content {
  padding: 0;
  position: relative;
}

.item-modal__close-icon {
  position: absolute;
  right: 27px;
  top: 27px;
}

.item-modal__close-icon:hover {
  cursor: pointer;
}

.item-modal__image {
  width: 100%;
}

.item-modal__type {
  margin-top: 12px;
  margin-left: 32px;
  margin-bottom: 12px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

.item-modal__weather {
  margin-top: 12px;
  margin-left: 32px;
  margin-bottom: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}
