.item-modal__content {
  padding: 0;
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}

.item-modal__close-icon {
  position: absolute;
  right: 27px;
  top: 27px;
}

.item-modal__close-icon:hover {
  cursor: pointer;
}

.item-modal__image {
  width: 100%;
}

.item-modal__type {
  margin-top: 12px;
  margin-left: 32px;
  margin-bottom: 12px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.item-modal__weather {
  margin-top: 12px;
  margin-left: 32px;
  margin-bottom: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.item-modal__delete {
  position: absolute;
  right: 32px;
  bottom: 66px;
  background: white;
  border: none;
  color: red;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.item-modal__hidden {
  visibility: hidden;
}

.item-modal__visible {
  visibility: visible;
}

.item-modal__delete:hover {
  cursor: pointer;
}
