.side-bar {
  flex-direction: column;
  display: flex;
  min-width: fit-content;
}

.side-bar__container {
  display: flex;
  flex-direction: column;
}

.side-bar__user-info {
  display: flex;
}

.side-bar__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.side-bar__username {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin: 0;
  align-self: center;
  margin-left: 10px;
}

.side-bar__button {
  color: #000000;
  cursor: pointer;
  border: none;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.side-bar__button:hover {
  color: #000000;
}

.side-bar__logout {
  background: #ffffff;
  border: none;
  color: #000000;
  cursor: pointer;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .side-bar {
    display: none;
  }
}
